@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(68, 68, 68, 0.25) grey;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}

*::-webkit-scrollbar-track {
	background: rgba(68, 68, 68, 0.25);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(68, 68, 68);
	border-radius: 14px;
	border: rgba(68, 68, 68, 0.25);
}

.bg-video {
	object-fit: cover;
	position: relative;
	z-index: -1;
}

.hover\:bg-video:hover {
	object-fit: cover;
	position: relative;
	z-index: -1;
}

.video-bg {
	position: relative;
	background: transparent;
}

.video-bg video {
	position: absolute;
	top: 0;
	left: 0;
	width: 896px;
	height: 104px;
	object-fit: cover;
	z-index: -1;
}

/* MagicCube.module.css */

.moveUp {
	transition: transform 2s ease-in-out;
	transform: translateY(30%);
}

.moveDown {
	transition: transform 2s ease-in-out;
	transform: translateY(50%);
}

/* Encouragement Page Styles */

@layer utilities {
	@keyframes gradientMove {
		0% {
			box-shadow: 0 0 20px 0 rgba(255, 109, 27, 0.5);
		}
		25% {
			box-shadow: 0 0 20px 0 rgba(255, 238, 85, 0.5);
		}
		50% {
			box-shadow: 0 0 20px 0 rgba(91, 255, 137, 0.5);
		}
		75% {
			box-shadow: 0 0 20px 0 rgba(77, 138, 255, 0.5);
		}
		100% {
			box-shadow: 0 0 20px 0 rgba(107, 95, 255, 0.5);
		}
	}

	.animate-shadow-gradient {
		animation: gradientMove 4s linear infinite;
	}

	.hover:animate-shadow-gradient-fast {
		transition: animation-duration 0.5s;
		animation-duration: 2s;
	}
}
