@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(68, 68, 68, 0.25) grey;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}

*::-webkit-scrollbar-track {
	background: rgba(68, 68, 68, 0.25);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: rgb(68, 68, 68);
	border-radius: 14px;
	border: rgba(68, 68, 68, 0.25);
}
